<html>
   <head>
      <title>ConcertBay</title>
   </head>
   <body>
        {% include 'navbar.html' %}
        <h1>Compra tickets Concierto {{concierto}}</h1>

        <div>
         <form method="post" action="/compraTicket/{{localidad_id}}/{{"1"}}">
           {% csrf_token %}
           <div>
               <p>Ubicación: {{localidad}}</p>
               <p>Precio: {{precio}}</p>  
               <label>Cantidad:</label>
               <input type="text" id="cantidad" name="cantidad">
            </div>
           <div>
               <button type="submit">Confirmar</button>
           </div>
         </form>
       </div>
    </body>
</html>        